.App {
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height:100vh;
   width:100%;
   background: rgba(232, 165, 83, 0.477);
   padding:2rem 1rem;
}

.App h1{
  padding:2rem;
  color:rgb(117, 85, 6);
}

.user-details-sec{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width:100%;
  color:rgb(117, 85, 6);
  background:rgba(232, 165, 83, 0.477);
  padding:1rem;
  border-radius:5px;
  margin-bottom:2rem;
}

.user-details-sec img{
  height:5rem;
  width:5rem;
  background:white;
  border-radius:50%;
  margin:.5rem;
}

.user-details-sec div{
  padding:.5rem;
  font-weight:bold;
  font-size:1.2rem;
}

.user-details-sec span{
  color:rgb(106, 106, 106);
}

.btn-sec{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
}

.btn-sec button{
  margin:.5rem;
}

@media(min-width:550px){

  .user-details-sec{
     width:80vw;
     max-width:40rem;
  }

  .btn-sec{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width:80vw;
    max-width:40rem;
  }
}

